<section>
  @if (repository().format === 'docker') {
    <p>{{ 'repositories.usage.login' | transloco }}</p>
    <pre>{{ 'repositories.usage.dockerLogin' | transloco: { host } }}</pre>
    @if (isHosted()) {
      <p>{{ 'repositories.usage.tagAndPush' | transloco }}</p>
      <pre>{{
        'repositories.usage.dockerTagPush' | transloco: { host, path: repositoryPath() }
      }}</pre>
    }
    <p>{{ 'repositories.usage.pull' | transloco }}</p>
    <pre>{{ 'repositories.usage.dockerPull' | transloco: { host, path: repositoryPath() } }}</pre>
  } @else {
    <p [innerHTML]="'repositories.usage.npmrc' | transloco"></p>
    <pre>{{
      'repositories.usage.npmrcContent' | transloco: { origin, host, path: repositoryPath() }
    }}</pre>
    @if (isHosted()) {
      <pre>npm publish</pre>
    }
    <pre>npm install</pre>
  }

  <p>
    <a [routerLink]="apiTokenLink()">{{ apiTokenLinkLabel() }}</a>
  </p>
</section>
