:host {
  display: block;
}

gbt-input,
gbt-select {
  width: 100%;
  display: block;
  margin-bottom: 0.75rem;
}

gbt-checkbox {
  display: block;
  margin-bottom: 0.75rem;
}

gbt-button {
  margin-top: 0.25rem;
}
