@if (publicLink(); as link) {
  <p>{{ 'repositories.share.anyoneCanView' | transloco }}</p>
  <app-copyable-command [command]="link.url" [label]="'repositories.share.copyLabel' | transloco" />
  <p class="share-repository-link__hint">
    <a [routerLink]="link.path">{{ 'repositories.share.viewPublicPage' | transloco }}</a>
    {{ 'repositories.share.perPackageHint' | transloco }}
  </p>
} @else {
  <p class="share-repository-link__hint">
    {{ 'repositories.share.private' | transloco }}
    @if (canManageVisibility()) {
      {{ 'repositories.share.makePublicHint' | transloco }}
    }
  </p>
}
