<app-page-heading />
<div class="organizations-page">
  @if (isSuperAdmin()) {
    <div class="organizations-page__list">
      <app-organizations-list />
    </div>
  }

  @if (organizationId(); as id) {
    <div class="organizations-page__detail">
      <gbt-tabs>
        <gbt-tab [label]="'admin.orgPage.overview' | transloco">
          <app-organization-detail [organizationId]="id" />
        </gbt-tab>
        <gbt-tab [label]="'admin.orgPage.brand' | transloco">
          <app-branding-settings [organizationId]="id" />
        </gbt-tab>
        <gbt-tab [label]="'tokens.table.caption' | transloco">
          <app-api-tokens-admin [organizationId]="id" />
        </gbt-tab>
        <gbt-tab [label]="'admin.orgPage.history' | transloco">
          <app-audit-log [organizationId]="id" />
        </gbt-tab>
        <gbt-tab [label]="'package.security' | transloco">
          <app-security-log [organizationId]="id" />
        </gbt-tab>
        <gbt-tab [label]="'admin.orgPage.metrics' | transloco">
          <app-organization-metrics-page [organizationId]="id" />
        </gbt-tab>
        <gbt-tab [label]="'admin.orgPage.settings' | transloco">
          <app-system-settings [organizationId]="id" />
        </gbt-tab>
        <gbt-tab [label]="'admin.orgPage.mail' | transloco">
          <app-smtp-settings [organizationId]="id" />
        </gbt-tab>
      </gbt-tabs>
    </div>
  }
</div>
