<gbt-modal
  [isOpen]="true"
  [heading]="'repositories.create.heading' | transloco"
  [closeLabel]="'common.close' | transloco"
  (closed)="cancelled.emit()"
>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <p class="gbt-form-required-note">{{ 'common.requiredNote' | transloco }}</p>
    <gbt-input [label]="'common.name' | transloco" formControlName="name" [required]="true" />
    <gbt-select
      [label]="'common.format' | transloco"
      [placeholder]="'common.select' | transloco"
      [options]="formatOptions"
      formControlName="format"
    />
    <gbt-select
      [label]="'common.type' | transloco"
      [placeholder]="'common.select' | transloco"
      [options]="repoTypeOptions"
      formControlName="repoType"
    />

    @if (isProxy()) {
      <gbt-input
        [label]="'repositories.create.remoteUrl' | transloco"
        formControlName="remoteUrl"
        [required]="true"
      />
      <gbt-input
        [label]="'repositories.create.remoteUsername' | transloco"
        formControlName="remoteUsername"
      />
      <gbt-input
        [label]="'repositories.create.remotePassword' | transloco"
        type="password"
        [showPasswordLabel]="'common.showPassword' | transloco"
        [hidePasswordLabel]="'common.hidePassword' | transloco"
        formControlName="remotePassword"
        [placeholder]="'repositories.create.remotePasswordPlaceholder' | transloco"
      />
    }

    @if (isGroup()) {
      <div class="create-repository-modal__members">
        @if (availableMemberOptions().length === 0) {
          <p class="create-repository-modal__hint">
            {{
              'repositories.create.noMemberAvailable'
                | transloco: { format: form.controls.format.value }
            }}
          </p>
        } @else {
          <div class="d-flex align-items-end gap-4">
            <gbt-select
              [label]="'repositories.create.addMember' | transloco"
              [placeholder]="'common.select' | transloco"
              [options]="availableMemberOptions()"
              [ngModel]="selectedMemberId()"
              (ngModelChange)="selectedMemberId.set($event)"
              [ngModelOptions]="{ standalone: true }"
            />
            <gbt-button
              class="mb-3"
              type="button"
              [text]="'common.add' | transloco"
              [disabled]="!selectedMemberId()"
              (clicked)="addMember()"
            />
          </div>
        }
        @if (groupMembers().length > 0) {
          <p class="create-repository-modal__hint">
            {{ 'repositories.create.resolutionOrder' | transloco }}
          </p>
          <ol class="create-repository-modal__member-list">
            @for (member of groupMembers(); track member.id; let i = $index) {
              <li>
                <span>{{ member.name }}</span>
                <div class="create-repository-modal__member-actions">
                  <button
                    type="button"
                    [attr.aria-label]="'repositories.create.moveUp' | transloco"
                    [disabled]="i === 0"
                    (click)="moveMemberUp(i)"
                  >
                    ↑
                  </button>
                  <button
                    type="button"
                    [attr.aria-label]="'repositories.create.moveDown' | transloco"
                    [disabled]="i === groupMembers().length - 1"
                    (click)="moveMemberDown(i)"
                  >
                    ↓
                  </button>
                  <button
                    type="button"
                    [attr.aria-label]="'repositories.create.remove' | transloco"
                    (click)="removeMember(member.id)"
                  >
                    ×
                  </button>
                </div>
              </li>
            }
          </ol>
        }
      </div>
    }

    <gbt-input
      [label]="'repositories.create.quota' | transloco"
      formControlName="quotaMb"
      [errorMessage]="quotaError"
    />
    <gbt-input
      [label]="'repositories.create.retention' | transloco"
      formControlName="retentionKeepLastN"
      [errorMessage]="retentionError"
    />

    @if (isSuperAdmin() && canBePublic()) {
      <gbt-checkbox
        [label]="'repositories.create.makePublic' | transloco"
        formControlName="isPublic"
      />
    }

    <gbt-button
      [text]="'common.create' | transloco"
      type="submit"
      [disabled]="hasErrors"
      [loading]="creating()"
      [loadingLabel]="'common.loadingLabel' | transloco"
    />
  </form>
</gbt-modal>
