<div class="form-container">
  <gbt-card [heading]="'admin.branding.logo' | transloco" icon="image">
    <p>
      {{ 'admin.branding.logoHelp' | transloco }}
    </p>
    @if (logoPreviewUrl(); as url) {
      <img
        [src]="url"
        [alt]="'admin.branding.currentLogoAlt' | transloco"
        class="branding-settings__logo-preview"
        width="260"
        height="80"
      />
    }
    <gbt-file-upload
      [label]="'admin.branding.logoFile' | transloco"
      accept="image/png,image/jpeg"
      [dropLabel]="'admin.branding.dropLabel' | transloco"
      [maxSizeMb]="maxSizeMb"
      [removeLabel]="removeFileLabel"
      [oversizeMessage]="oversizeMessage"
      [disabled]="uploadingLogo()"
      [errorMessage]="logoError()"
      [ngModel]="selectedLogoFile()"
      (ngModelChange)="selectedLogoFile.set($event)"
    />
    <div class="branding-settings__actions">
      <gbt-button
        [text]="'admin.branding.import' | transloco"
        [loading]="uploadingLogo()"
        [loadingLabel]="'common.loadingLabel' | transloco"
        [disabled]="selectedLogoFile().length === 0"
        (clicked)="uploadLogo()"
      />
      <gbt-tooltip [text]="'admin.branding.resetLogoHint' | transloco">
        <gbt-button
          [text]="'admin.branding.reset' | transloco"
          variant="secondary"
          [disabled]="uploadingLogo()"
          (clicked)="resetLogo()"
        />
      </gbt-tooltip>
    </div>
  </gbt-card>

  <gbt-card [heading]="'admin.branding.favicon' | transloco" icon="image">
    <p>{{ 'admin.branding.faviconHelp' | transloco }}</p>
    @if (faviconPreviewUrl(); as url) {
      <img
        [src]="url"
        [alt]="'admin.branding.currentFaviconAlt' | transloco"
        class="branding-settings__favicon-preview"
        width="32"
        height="32"
      />
    }
    <gbt-file-upload
      [label]="'admin.branding.faviconFile' | transloco"
      accept="image/png,image/jpeg,image/x-icon,.ico"
      [dropLabel]="'admin.branding.dropLabel' | transloco"
      [maxSizeMb]="maxSizeMb"
      [removeLabel]="removeFileLabel"
      [oversizeMessage]="oversizeMessage"
      [disabled]="uploadingFavicon()"
      [errorMessage]="faviconError()"
      [ngModel]="selectedFaviconFile()"
      (ngModelChange)="selectedFaviconFile.set($event)"
    />
    <div class="branding-settings__actions">
      <gbt-button
        [text]="'admin.branding.import' | transloco"
        [loading]="uploadingFavicon()"
        [loadingLabel]="'common.loadingLabel' | transloco"
        [disabled]="selectedFaviconFile().length === 0"
        (clicked)="uploadFavicon()"
      />
      <gbt-tooltip [text]="'admin.branding.resetFaviconHint' | transloco">
        <gbt-button
          [text]="'admin.branding.reset' | transloco"
          variant="secondary"
          [disabled]="uploadingFavicon()"
          (clicked)="resetFavicon()"
        />
      </gbt-tooltip>
    </div>
  </gbt-card>
</div>
