<app-page-heading />
@if (loading()) {
  <div class="loading-state"><gbt-spinner size="lg" [label]="'common.loading' | transloco" /></div>
} @else if (reserved()) {
  <app-repositories-list mode="personal" />
} @else {
  <gbt-empty-state
    illustration="folder"
    [heading]="'repositories.mine.emptyHeading' | transloco"
    [message]="'repositories.mine.emptyMessage' | transloco"
  >
    <gbt-button
      [text]="'repositories.mine.createButton' | transloco"
      (clicked)="openReserveModal()"
    />
  </gbt-empty-state>
}
@if (showConfirmModal()) {
  <app-confirm-modal
    [heading]="'repositories.mine.createButton' | transloco"
    [message]="'repositories.mine.confirmMessage' | transloco"
    [confirmLabel]="'common.create' | transloco"
    [confirming]="reserving()"
    (confirmed)="confirmReserve()"
    (cancelled)="cancelReserve()"
  />
}
